
.App {
  padding: 40px;
  font-family: Arial;
  background-color: #f7f9fc;
}

.dx-scheduler {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f7f9fc;
  padding: 10px;
}

.dx-scheduler-appointment {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .dx-scheduler {
    width: 100%;
    font-size: 14px;
  }

  .dx-scheduler-appointment {
    font-size: 12px;
  }
}
